@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="" style="color: black;">Games and Memes</a> 
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="btn btn-light">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
