@* NavMenu.razor *@

<div class="nav-container">
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    <label class="navbar-toggler" for="navbar-toggler" aria-hidden="true">☰</label>

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="Games">
                    <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Games
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="Memes">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Memes
                </NavLink>
            </div>
        </nav>
    </div>
</div>
